html {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

/* a要素のテキストカラーを継承する */
a {
    color: inherit;
    text-decoration: none;
}

/* main要素にoverflow-x:hiddenを指定する */
main {
    overflow-x: hidden;
}